body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.flex-grid {
  display: flex;
  
}
.flex-grid .col {
  flex: 1;
  margin: 0 0 20px 0;
}

.col {
  padding: 20px;
  .title{
    text-align: center;
    color: #fff;
    padding-top:10px;
    border-top-right-radius: 15px;
    height: 120px;
    &.Created{
      background-color:#056CF2;
    }
    &.Cooked {
      background-color:#1B8EF2;
     
    }
    &.Cancelled {
      background-color:#F2911B;
    }
    &.Driver {
      background-color:#F2811D;
    }
    &.Delivered {
      background-color:#F24405;
    }
  }
}

.main-board {
  height: 100vh;
}

.order-card{
  background: #eee;
  padding: 10px;
  margin: 5px;
  border-radius: 3px 3px 0px 0px;
  margin-top: -80px;
}