body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.flex-grid {
  display: flex;
  
}
.flex-grid .col {
  flex: 1;
  margin: 0 0 20px 0;
}

.col {
  padding: 20px;
  .title{
    text-align: center;
    color: #fff;
    padding-top:10px;
    border-top-right-radius: 15px;
    height: 120px;
    &.Created{
      background-color:#056CF2;
    }
    &.Cooked {
      background-color:#1B8EF2;
     
    }
    &.Cancelled {
      background-color:#F2911B;
    }
    &.Driver {
      background-color:#F2811D;
    }
    &.Delivered {
      background-color:#F24405;
    }
  }
}

.main-board {
  height: 800px;
  overflow-y: scroll;
}

.order-card{
  background: #eee;
  padding: 10px;
  margin: 5px;
  border-radius: 3px 3px 0px 0px;
  
}
.logo{
  margin: unset;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  img {
    width: 260px;
  }
}

.incoming-order {
  margin-left: 20px;
}
   
#resp-table {
  width: 100%;
  display: table;
}

#resp-table-header{
  display: table-header-group;
  font-size: 18px;
}

.table-header-cell{
  display: table-cell;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}

#resp-table-body{
  display: table-row-group;
}

.resp-table-row{
  display: table-row;
}

.table-body-cell{
  padding-top: 10px;
  display: table-cell;
}

.cell-centered {
  text-align: center;
}

.filters{
  display:block;
  div{
    display: inline-block;
    button {
      border-radius:28px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      padding:6px 9px;
      margin-right: 10px;
      text-decoration:none;
    }
    .created:hover {
      background-color:#056cf2;
    }
    .created:active {
      position:relative;
      top:1px;
    }
    .created{
      background-color: #056cf2;
      background-color: #056cf2;
      text-shadow:0px 1px 0px #056cf2;
    }
    .history {
      background-color: #F24405;
      background-color: #F24405;
      text-shadow:0px 1px 0px #F24405;
    }
    .cooked{
      background-color: #F2911B;
      background-color: #F2911B;
      text-shadow:0px 1px 0px #F2911B;
    }
  }
  
}

.hidden {
  display:none;
}
.show {
  display:block;
}


.CREATED {
  background-color: #056CF2;
  border-radius: 6px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  color: white;
  padding-bottom: 3px;
  padding-top: 3px;
}
.COOKED {
  background-color: #F2911B;
  border-radius: 6px;
  text-align: center;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  padding-bottom: 3px;
  padding-top: 3px;
}
.CANCELLED {
  background-color: #F24405;
  border-radius: 6px;
  text-align: center;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  padding-bottom: 3px;
  padding-top: 3px;
}
.DRIVER_RECEIVED {
  background-color: rgb(236, 187, 126);
  border-radius: 6px;
  text-align: center;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  padding-bottom: 3px;
  padding-top: 3px;
}

.DELIVERED {
  background-color: rgb(128, 37, 5);
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-top: 10px;
  color: white;
}


